{% extends "base.html" %}
{% block title %}Maxwell{% endblock %}
{% block head %}
<script src=https://unpkg.com/@hyperapp/html@0.5.1/dist/html.dist.js></script>
<script src=static/maxwell.js></script>
{% endblock %}
{% block content %}
<script>
const {main, h1, span, div, button} = html;

const historyItem = " Fz(s2) P(s04) P(s03)@lg Mx(s03) Mt(s03) Ta(c) Bxsh(0,0,s05,grey-5) Bgc(white) Bdrus(s05) ";

const actions = hyperapp.app({
	state: {
		status: "Talk to Max",
		log: JSON.parse(localStorage.getItem("log") || "[]")
	},
	view: state => actions => (
		main({class: "D(f) Fld(c) Mx(a) W(100%) W(40%)@lg W(60%)@md H(100%) Maw(50rem) Bgc(#F5F5F5)"}, [
			h1({class: "Fz(s4) C(#37474F) Mt(s03) Py(s05) Fw(n) Ff(Crimson) Ta(c)"},
				"Maxwell"
			),
			div({class: "D(f) Fld(c) Ovy(s) H(100%) Bdt(s,s03,#37474F)"},
				state.log.map(i => {
					if (i.user)
						return span({class: historyItem + "C(#424242)", oncreate: n => n.scrollIntoView()}, i.body)
					return span({class: historyItem + "C(#607D8B)", oncreate: n => n.scrollIntoView()}, i.body)
				}).concat(state.status == "..." ? span({class: historyItem + "C(#607D8B)"}, "...") : []).concat(
				div({class: "H(s03)"}))
			),
			button({type:"button", class: "Mt(a) Ta(c) Py(s02) | _rInput() Bgc(#37474F) C(white) Fz(s3) M(s05) M(0)@md Bdrus(s04) Bdrus(0)@md Bxsh(0,0,s02,grey-4) Bxsh(n)@md",
				onclick: e => {
					if (mic.state[0] === "i")
						recordStart();
					else
						recordStop();
				},
			},
				state.status
			)
		])
	),
	actions: {
		status: s => state => ({status: s}),
		log: txt => state => {
			localStorage.setItem("log", JSON.stringify(state.log));
			return {
				log: [...state.log, {body: txt}]
			};
		},
		logUser: txt => state => {
			localStorage.setItem("log", JSON.stringify(state.log));
			return {
				log: [...state.log, {body: txt, user: true}]
			};
		},
		logClear: () => state => ({
			log: []
		})
	}
},
document.currentScript.parent);
</script>
{% endblock %}
